h1.lgotitle {
	background: #fee;
	border: 1px solid #faa;
	margin: 0;
	padding: 0.4ex;
	font-size: 130%;
	text-align: center;
}

.contents {
	font-size: 90%;
	line-height: 150%;
}

.contents p, .contents dl {
	margin: 0.75em 0;
}

table {
	font-size: inherit;
}

div.navpath, .navigation div.tabs:first-child li:first-child, div[id='navrow1']:first-child li:first-child {
	display: none;
}

.contents h2 {
	font-size: 120%;
}

.contents h3 {
	font-size: 100%;
}

.navigation div.tabs ul, div[id='navrow1'] ul {
	padding: 0;
}

.navigation div.tabs li, div[id='navrow1'] li {
	display: inline;
	padding: 2px 5px;
	background: #d8dbd5 url(shade.png) top left repeat-x;
	border: 1px solid #888a85;
}

.navigation div.tabs li.current, div[id='navrow1'] li.current {
	border: 2px solid #686a65;
	padding: 1px 4px;
}

.navigation div.tabs li.current a, div[id='navrow1'] li.current a {
}

caption {
	font-weight: bold;
}

.center {
	text-align: center;
}

div.qindex, div.navtab {
	background-color: #e8eef2;
	border: 1px solid #84b0c7;
	text-align: center;
	margin: 0.2em;
	padding: 0.2em;
}

div.qindex {
	width: 100%;
	line-height: 140%;
}

div.navtab {
	margin-right: 1.25em;
}

a {
	color: #153788;
	font-weight: normal;
	text-decoration: none;
}

.contents a:visited {
	color: #1b77c5;
}

a:hover {
	text-decoration: underline;
}

a.qindex {
	font-weight: bold;
}

a.qindexHL {
	font-weight: bold;
	background-color: #6666cc;
	color: #ffffff;
	border: 1px double #9295C2;
}

.contents a.qindexHL:visited {
	color: #ffffff;
}

a.el {
	font-weight: bold;
}

a.elRef, a.code, a.codeRef {
}

dl.el {
	margin-left: -1.5em;
}

code, .fragment {
	font-family: monospace, fixed;
	font-size: inherit;
}

pre.fragment {
	border: 1px solid #aaaaff;
	background-color: #eeeeff;
	padding: 0.5em;
	margin: 0.375em 0.75em 0.375em 0.2em;
}

div.ah {
	background-color: black;
	font-weight: bold;
	color: #ffffff;
	margin: 0.2em 0;
}

div.groupHeader {
	margin: 1em 0 0.5em 1.25em;
	font-weight: bold;
}

div.groupText {
	margin-left: 1.25em;
	font-style: italic;
}

td.indexkey, td.indexvalue {
	background-color: #e8eef2;
	border: 1px solid #CCCCCC;
	margin: 0.2em 0;
	padding: 0.2em 0.75em;
}

td.indexkey {
	font-weight: bold;
}

tr.memlist {
	background-color: #f0f0f0;
}

p.formulaDsp {
	text-align: center;
}

img.formulaDsp {
}

img.formulaInl {
	vertical-align: middle;
}

span.keyword {
	color: #008000;
}

span.keywordtype {
	color: #604020;
}

span.keywordflow {
	color: #e08000;
}

span.comment {
	color: #800000;
}

span.preprocessor {
	color: #806020;
}

span.stringliteral {
	color: #002080;
}

span.charliteral {
	color: #008080;
}

span.vhdldigit { 
	color: #ff00ff;
}

span.vhdlchar { 
	color: #000000;
}

span.vhdlkeyword { 
	color: #700070;
}

span.vhdllogic { 
	color: #ff0000;
}

.search {
	color: #003399;
	font-weight: bold;
}

form.search {
	margin-bottom: 0;
	margin-top: 0;
}

input.search {
	font-size: 75%;
	color: #000080;
	font-weight: normal;
	background-color: #e8eef2;
}

td.tiny {
	font-size: 80%;
}

.dirtab {
	padding: 0.25em;
	border-collapse: collapse;
	border: 1px solid #84b0c7;
}

th.dirtab {
	background: #e8eef2;
	font-weight: bold;
}

hr {
	width: 100%;
	height: 0;
	border-top: 1px solid #666;
}

.mdescLeft, .mdescRight,
.memItemLeft, .memItemRight,
.memTemplItemLeft, .memTemplItemRight, .memTemplParams {
	background-color: #FAFAFA;
	border: none;
	margin: 0.375em;
	padding: 0.125em 0 0 0.75em;
}

.mdescLeft, .mdescRight {
	padding: 0 0.75em 0.375em;
	color: #555;
}

.memItemLeft, .memItemRight, .memTemplParams {
	border-top: 1px solid #ccc;
}

.memTemplParams {
	color: #606060;
}

/* Styles for detailed member documentation */

.memtemplate {
	color: #606060;
	font-size: 90%;
	font-weight: normal;
	margin-left: 0.2em;
}

.memnav {
	background-color: #e8eef2;
	border: 1px solid #84b0c7;
	text-align: center;
	margin: 0.2em 1em 0.2em 0;
	padding: 0.2em;
}

.memitem {
	margin: 0.5em 0;
	padding: 0;
}

.memname {
	white-space: nowrap;
	font-weight: bold;
	line-height: 120%;
}

.memproto, .memdoc {
	border: 1px solid #84b0c7;	
}

.memproto {
	padding: 0;
	background-color: #d5e1e8;
	font-weight: bold;
	-webkit-border-top-left-radius: 1ex;
	-webkit-border-top-right-radius: 1ex;
	-moz-border-radius-topleft: 1ex;
	-moz-border-radius-topright: 1ex;
}

.memdoc {
	padding: 0.2em 0.5em;
	background-color: #eef3f5;
	border-top-width: 0;
	-webkit-border-bottom-left-radius: 1ex;
	-webkit-border-bottom-right-radius: 1ex;
	-moz-border-radius-bottomleft: 1ex;
	-moz-border-radius-bottomright: 1ex;
}

.paramkey {
	text-align: right;
}

.paramtype {
	white-space: nowrap;
}

.paramname {
	color: #602020;
	white-space: nowrap;
}
.paramname em {
	font-style: normal;
}

/* for the tree view */

.ftvtree {
	font-family: sans-serif;
	margin: 0.5em;
}

/* these are for tree view when used as main index */

.directory {
	font-size: 90%;
	font-weight: bold;
}

.directory h3 {
	margin: 1em 0 0;
	font-size: 110%;
}

.directory > h3 {
	margin-top: 0;
}

.directory p {
	margin: 0;
	white-space: nowrap;
}

.directory div {
	display: none;
	margin: 0;
}

.directory img {
	vertical-align: -30%;
}

/* these are for tree view when not used as main index */

.directory-alt {
	font-size: 100%;
	font-weight: bold;
}

.directory-alt h3 {
	margin: 0;
	margin-top: 1em;
	font-size: 110%;
}

.directory-alt > h3 {
	margin-top: 0;
}

.directory-alt p {
	margin: 0;
	white-space: nowrap;
}

.directory-alt div {
	display: none;
	margin: 0;
}

.directory-alt img {
	vertical-align: -30%;
}
